.react-flow__handle {
  opacity: 0;
}

.label-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  position: relative;
}

.label-img {
  width: 30px;
}

.name-desc-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label-name {
  font-size: 8px !important;
  font-weight: bold;
}

.label-desc {
  font-size: 6px;
}

.react-flow__node-default.selectable.selected {
  background-color: #FEF8E6;
  border-color: #f5d359;
}

.show {
  width: 250px;
  height: 80px;
  display: flex;
  flex-direction: row;
}

.ant-popover-inner {
  background-color: #FEF8E6 !important;
}